.screen-header{
  display:flex;
  justify-content: space-between;
  padding:20px 25px;
  align-items:center;
}

.screen-header__column:first-child{
  font-size:30px;
}

.screen-header__column:last-child span{
  margin-right:15px;
}

.screen-header__column span{
  position: relative;
}